body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;
    display: grid;
}

.lastChance {
    color: white;
    padding: 3px;
}