body {
    background-color:whitesmoke;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}


.landingPageImage {
    display: flexbox; 
    max-height: 25%;

}